# Welcome to Surogate Hub!

Surogate Hub provides version control over the data lake, and uses Git-like semantics to create and access those versions. If you know git, you'll be right at home with Surogate Hub.

With Surogate Hub, you can use concepts on your data lake such as **branch** to create an isolated version of the data, **commit** to create a reproducible point in time, and **merge** in order to incorporate your changes in one atomic action.
