{
  "openapi": "3.1.0",
  "info": {
    "title": "Hub API Endpoints",
    "version": "0.0.1",
    "description": "We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!\n\nThe base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).\n\nIf you're an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md).\n"
  },
  "servers": [
    {
      "url": "https://huggingface.co",
      "description": "Hub"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RepoId": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "name": {
            "examples": [
              "deepseek-ai/DeepSeek-R1",
              "black-forest-labs/FLUX.1-dev"
            ],
            "type": "string"
          },
          "type": {
            "enum": [
              "dataset",
              "model",
              "space",
              "bucket",
              "kernel"
            ]
          }
        },
        "required": [
          "name",
          "type"
        ],
        "additionalProperties": false,
        "id": "RepoId"
      },
      "Job": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
          },
          "owner": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name"
            ],
            "additionalProperties": false
          },
          "spaceId": {
            "type": "string"
          },
          "dockerImage": {
            "type": "string"
          },
          "timeout": {
            "type": "number"
          },
          "environment": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "secrets": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "null"
            }
          },
          "command": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "arguments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "arch": {
            "enum": [
              "amd64",
              "arm64"
            ]
          },
          "flavor": {
            "enum": [
              "cpu-basic",
              "cpu-upgrade",
              "cpu-performance",
              "cpu-xl",
              "sprx8",
              "zero-a10g",
              "t4-small",
              "t4-medium",
              "l4x1",
              "l4x4",
              "l40sx1",
              "l40sx4",
              "l40sx8",
              "a10g-small",
              "a10g-large",
              "a10g-largex2",
              "a10g-largex4",
              "a100-large",
              "a100x4",
              "a100x8",
              "h200",
              "h200x2",
              "h200x4",
              "h200x8",
              "inf2x6"
            ]
          },
          "status": {
            "type": "object",
            "properties": {
              "stage": {
                "enum": [
                  "COMPLETED",
                  "CANCELED",
                  "ERROR",
                  "DELETED",
                  "RUNNING",
                  "SCHEDULING"
                ]
              },
              "message": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "cancelReason": {
                "anyOf": [
                  {
                    "enum": [
                      "NO_CREDITS",
                      "NO_SUBSCRIPTION"
                    ]
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "failureCount": {
                "type": "number"
              }
            },
            "required": [
              "stage",
              "message"
            ],
            "additionalProperties": false
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name"
            ],
            "additionalProperties": false
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "retry": {
            "type": "number"
          },
          "volumes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "mountPath": {
                  "type": "string"
                },
                "revision": {
                  "type": "string"
                },
                "readOnly": {
                  "type": "boolean"
                },
                "path": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "source",
                "mountPath"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "id",
          "createdAt",
          "owner",
          "environment",
          "flavor",
          "status",
          "createdBy"
        ],
        "additionalProperties": false,
        "id": "Job"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "auth",
      "x-displayName": "Auth",
      "description": "The following endpoints get information about your currently used user based on the passed token."
    },
    {
      "name": "models",
      "x-displayName": "Models",
      "description": "Get information from all models on the Hub."
    },
    {
      "name": "kernels",
      "x-displayName": "Kernels",
      "description": "Get information from all kernels on the Hub."
    },
    {
      "name": "datasets",
      "x-displayName": "Datasets",
      "description": "Get information from all datasets on the Hub."
    },
    {
      "name": "sql-console",
      "x-displayName": "SQL Console",
      "description": "Get information from SQL Console embeds from a dataset."
    },
    {
      "name": "discussions",
      "x-displayName": "Discussions",
      "description": "The following endpoints manage discussions."
    },
    {
      "name": "spaces",
      "x-displayName": "Spaces",
      "description": "Get information from all Spaces on the Hub."
    },
    {
      "name": "repo-search",
      "x-displayName": "Repository Search",
      "description": "The following endpoints help get information about models, datasets, and Spaces stored on the Hub."
    },
    {
      "name": "repos",
      "x-displayName": "Repositories",
      "description": "The following endpoints manage repository settings like creating and deleting a repository."
    },
    {
      "name": "users",
      "x-displayName": "Users",
      "description": "User accounts are the base authoring entity on the Hub"
    },
    {
      "name": "orgs",
      "x-displayName": "Organizations",
      "description": "The following endpoints let you interact with Hub Organizations and their members."
    },
    {
      "name": "jobs",
      "x-displayName": "Jobs",
      "description": "The following endpoints manage jobs."
    },
    {
      "name": "resource-groups",
      "x-displayName": "Resource groups",
      "description": "The following endpoints manage resource groups. Resource groups are a Team or Enterprise feature."
    },
    {
      "name": "papers",
      "x-displayName": "Paper pages",
      "description": "The following endpoint gets information about papers."
    },
    {
      "name": "collections",
      "x-displayName": "Collections",
      "description": "Use Collections to group repositories from the Hub (Models, Datasets, Spaces and Papers) on a dedicated page.\n\nYou can learn more about it in the Collections [guide](https://huggingface.co/docs/hub/collections). Collections can also be managed using the Python client (see [guide](https://huggingface.co/docs/huggingface_hub/main/en/guides/collections))."
    },
    {
      "name": "buckets",
      "x-displayName": "Buckets",
      "description": "Git-free storage buckets for files, powered by Xet. Buckets provide simple file storage without git versioning."
    },
    {
      "name": "notifications",
      "x-displayName": "Notifications",
      "description": "The following endpoints fetch Hub notifications."
    },
    {
      "name": "inference-providers",
      "x-displayName": "Inference Providers",
      "description": "Run inference from one of our inference providers."
    },
    {
      "name": "inference-endpoints",
      "x-displayName": "Inference Endpoints",
      "description": "Manage inference endpoints."
    },
    {
      "name": "mcp",
      "x-displayName": "MCP",
      "description": "The following endpoints are for use with the MCP server."
    },
    {
      "name": "oauth",
      "x-displayName": "OAuth",
      "description": "The following endpoints are for use with OAuth."
    },
    {
      "name": "docs",
      "x-displayName": "Documentation",
      "description": "The following endpoints are for interacting with the Hub's documentation."
    },
    {
      "name": "webhooks",
      "x-displayName": "Webhooks",
      "description": "The following endpoints are for use with webhooks."
    },
    {
      "name": "scim",
      "x-displayName": "SCIM",
      "description": "Use the SCIM API to control and manage your hub Enterprise organization manage members' access.\n## Authentication\n\n- Must be organization owner\n- Use Access token with write permission on organization\n- Organization must be Enterprise Plus\n\n## Key Attribute Matching\n\n- Microsoft Entra ID (Azure AD)\n\t* SAML: `http://schemas.microsoft.com/identity/claims/objectidentifier`\n\t* SCIM: `externalId`\n- Other Identity Providers\n\t* SAML: `NameID` or `unique identifier`\n\t* SCIM: `externalId`\n\n## Supported SCIM User Attributes\n\n| Attribute | Description |\n|---|---|\n| `userName` | Username for the user |\n| `name.givenName` | First name |\n| `name.familyName` | Last name |\n| `emails` | Array of user emails; we don't support email types |\n| `externalId` | IDP provider's unique identifier |\n| `id` | Hugging Face SCIM endpoint identifier |\n| `active` | Boolean for provisioning status |\n\n"
    },
    {
      "name": "agentic-provisioning",
      "x-displayName": "Agentic Provisioning",
      "description": "The following endpoints are for use with Agentic Provisioning Protocol."
    }
  ],
  "paths": {
    "/api/organizations/{name}/settings/tokens/revoke": {
      "post": {
        "description": "An org admin can revoke a token's access to the org. The token itself isn't deleted, it still works outside the org. Requires the raw token value. Enterprise only.",
        "summary": "Revoke a member's access token from the organization",
        "tags": [
          "orgs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "pattern": "^hf_.*"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/organizations/{name}/resource-groups": {
      "get": {
        "description": "Retrieve accessible resource groups. Get all resource groups the user has access to.\n\nRequires the org to be Enterprise",
        "summary": "Get resource groups",
        "tags": [
          "resource-groups"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 24,
                        "maxLength": 24,
                        "pattern": "^[0-9a-f]{24}$"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "autoJoin": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "const": true
                              },
                              "role": {
                                "anyOf": [
                                  {
                                    "enum": [
                                      "admin",
                                      "write",
                                      "contributor",
                                      "read",
                                      "no_access"
                                    ]
                                  },
                                  {
                                    "description": "Custom role name",
                                    "type": "string"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "enabled",
                              "role"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "const": false
                              }
                            },
                            "required": [
                              "enabled"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      },
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "const": "user"
                            },
                            "_id": {
                              "type": "string",
                              "minLength": 24,
                              "maxLength": 24,
                              "pattern": "^[0-9a-f]{24}$"
                            },
                            "fullname": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "type": "string"
                            },
                            "role": {
                              "anyOf": [
                                {
                                  "enum": [
                                    "admin",
                                    "write",
                                    "contributor",
                                    "read",
                                    "no_access"
                                  ]
                                },
                                {
                                  "description": "Custom role name",
                                  "type": "string"
                                }
                              ]
                            },
                            "addedBy": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "_id",
                            "fullname",
                            "name",
                            "avatarUrl",
                            "role"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "repos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "enum": [
                                "dataset",
                                "model",
                                "space",
                                "bucket",
                                "kernel"
                              ]
                            },
                            "addedBy": {
                              "type": "string"
                            },
                            "private": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "name",
                            "type",
                            "private"
                          ],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "users",
                      "repos"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            },
            "description": "Resource groups the user has access to"
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "description": "Create a new resource group in the organization.\n\nRequires the org to be Enterprise",
        "summary": "Create a resource group",
        "tags": [
          "resource-groups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "users": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "string"
                        },
                        "role": {
                          "anyOf": [
                            {
                              "enum": [
                                "admin",
                                "write",
                                "contributor",
                                "read",
                                "no_access"
                              ]
                            },
                            {
                              "description": "Custom role name",
                              "type": "string"
                            }
                          ]
                        }
                      },
                      "required": [
                        "user",
                        "role"
                      ]
                    }
                  },
                  "repos": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RepoId"
                    }
                  },
                  "autoJoin": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "const": true
                          },
                          "role": {
                            "anyOf": [
                              {
                                "enum": [
                                  "admin",
                                  "write",
                                  "contributor",
                                  "read",
                                  "no_access"
                                ]
                              },
                              {
                                "description": "Custom role name",
                                "type": "string"
                              }
                            ]
                          }
                        },
                        "required": [
                          "enabled",
                          "role"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "const": false
                          }
                        },
                        "required": [
                          "enabled"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 24,
                      "maxLength": 24,
                      "pattern": "^[0-9a-f]{24}$"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "autoJoin": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "const": true
                            },
                            "role": {
                              "anyOf": [
                                {
                                  "enum": [
                                    "admin",
                                    "write",
                                    "contributor",
                                    "read",
                                    "no_access"
                                  ]
                                },
                                {
                                  "description": "Custom role name",
                                  "type": "string"
                                }
                              ]
                            }
                          },
                          "required": [
                            "enabled",
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "const": false
                            }
                          },
                          "required": [
                            "enabled"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "user"
                          },
                          "_id": {
                            "type": "string",
                            "minLength": 24,
                            "maxLength": 24,
                            "pattern": "^[0-9a-f]{24}$"
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "avatarUrl": {
                            "type": "string"
                          },
                          "role": {
                            "anyOf": [
                              {
                                "enum": [
                                  "admin",
                                  "write",
                                  "contributor",
                                  "read",
                                  "no_access"
                                ]
                              },
                              {
                                "description": "Custom role name",
                                "type": "string"
                              }
                            ]
                          },
                          "addedBy": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "_id",
                          "fullname",
                          "name",
                          "avatarUrl",
                          "role"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "repos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "dataset",
                              "model",
                              "space",
                              "bucket",
                              "kernel"
                            ]
                          },
                          "addedBy": {
                            "type": "string"
                          },
                          "private": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "name",
                          "type",
                          "private"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "users",
                    "repos"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "The created resource group"
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/organizations/{name}/avatar": {
      "get": {
        "description": "Retrieve organization avatar. This endpoint returns a JSON with the avatar URL for the organization.\n\nIf called with the `Sec-Fetch-Dest: image` header, it instead redirects to the avatar URL",
        "summary": "Get avatar",
        "tags": [
          "orgs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "avatarUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "avatarUrl"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Avatar URL"
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "schema": {
              "description": "Redirect to the avatar url instead of returning it"
            },
            "required": false
          }
        ]
      }
    },
    "/api/organizations/{name}/members": {
      "get": {
        "description": "Get a list of members for the organization with optional search and pagination.",
        "summary": "Get organization members",
        "tags": [
          "orgs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "avatarUrl": {
                        "type": "string"
                      },
                      "fullname": {
                        "type": "string"
                      },
                      "isPro": {
                        "type": "boolean"
                      },
                      "user": {
                        "type": "string"
                      },
                      "type": {
                        "const": "user"
                      },
                      "isFollowing": {
                        "type": "boolean"
                      },
                      "_id": {
                        "type": "string",
                        "minLength": 24,
                        "maxLength": 24,
                        "pattern": "^[0-9a-f]{24}$"
                      },
                      "role": {
                        "anyOf": [
                          {
                            "enum": [
                              "admin",
                              "write",
                              "contributor",
                              "read",
                              "no_access"
                            ]
                          },
                          {
                            "description": "Custom role name",
                            "type": "string"
                          }
                        ]
                      },
                      "resourceGroups": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "numUsers": {
                              "type": "number"
                            },
                            "role": {
                              "anyOf": [
                                {
                                  "enum": [
                                    "admin",
                                    "write",
                                    "contributor",
                                    "read",
                                    "no_access"
                                  ]
                                },
                                {
                                  "description": "Custom role name",
                                  "type": "string"
                                }
                              ]
                            }
                          },
                          "required": [
                            "name",
                            "id",
                            "numUsers",
                            "role"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "twoFaEnabled": {
                        "type": "boolean"
                      },
                      "verifiedEmail": {
                        "description": "The user's SSO email, if the org has a Team or Enterprise plan and the requester is an admin",
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "isExternalCollaborator": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "avatarUrl",
                      "fullname",
                      "isPro",
                      "user",
                      "type",
                      "_id"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            },
            "description": "Array of organization members",
            "headers": {
              "Link": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "string"
                },
                "description": "Link header for pagination, can contain a `rel=\"next\"` link"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email",
              "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
            },
            "required": false
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 500,
              "type": "integer",
              "minimum": 10,
              "maximum": 10000
            },
            "required": false
          }
        ]
      }
    },
    "/api/organizations/{name}/members/{username}/role": {
      "put": {
        "description": "Change the role of a member in the organization. Need a paid plan.",
        "summary": "Change member role",
        "tags": [
          "orgs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "role": {
                    "anyOf": [
                      {
                        "enum": [
                          "admin",
                          "write",
                          "contributor",
                          "read",
                          "no_access"
                        ]
                      },
                      {
                        "description": "Custom role name",
                        "type": "string"
                      }
                    ]
                  },
                  "resourceGroups": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 24,
                          "maxLength": 24,
                          "pattern": "^[0-9a-fA-F]{24}$"
                        },
                        "role": {
                          "anyOf": [
                            {
                              "enum": [
                                "admin",
                                "write",
                                "contributor",
                                "read",
                                "no_access"
                              ]
                            },
                            {
                              "description": "Custom role name",
                              "type": "string"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "role"
                      ]
                    }
                  }
                },
                "required": [
                  "role"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/whoami-v2": {
      "get": {
        "description": "Get information about the user and auth method used",
        "summary": "Get user info",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "auth": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "accessToken": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "role": {
                                  "enum": [
                                    "read",
                                    "write",
                                    "god",
                                    "fineGrained"
                                  ]
                                },
                                "fineGrained": {
                                  "type": "object",
                                  "properties": {
                                    "scoped": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "entity": {
                                            "type": "object",
                                            "properties": {
                                              "_id": {
                                                "type": "string",
                                                "minLength": 24,
                                                "maxLength": 24,
                                                "pattern": "^[0-9a-f]{24}$"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "enum": [
                                                  "dataset",
                                                  "model",
                                                  "space",
                                                  "bucket",
                                                  "kernel",
                                                  "collection",
                                                  "org",
                                                  "user",
                                                  "resource-group",
                                                  "oauth-app"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "_id",
                                              "type"
                                            ],
                                            "additionalProperties": false
                                          },
                                          "permissions": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "required": [
                                          "entity",
                                          "permissions"
                                        ],
                                        "additionalProperties": false
                                      }
                                    },
                                    "global": {
                                      "type": "array",
                                      "items": {
                                        "enum": [
                                          "discussion.write",
                                          "post.write"
                                        ]
                                      }
                                    },
                                    "canReadGatedRepos": {
                                      "description": "Allow access to all public gated repos to which the user has access",
                                      "type": "boolean"
                                    }
                                  },
                                  "required": [
                                    "scoped"
                                  ],
                                  "additionalProperties": false
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                                }
                              },
                              "required": [
                                "displayName",
                                "role",
                                "createdAt"
                              ],
                              "additionalProperties": false
                            },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                            },
                            "resource": {
                              "type": "object",
                              "properties": {
                                "sub": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "sub"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        "type": {
                          "const": "user"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "fullname": {
                          "type": "string"
                        },
                        "email": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "canPay": {
                          "type": "boolean"
                        },
                        "billingMode": {
                          "enum": [
                            "prepaid",
                            "postpaid"
                          ]
                        },
                        "avatarUrl": {
                          "type": "string"
                        },
                        "periodEnd": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "isPro": {
                          "type": "boolean"
                        },
                        "orgs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "org"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "fullname": {
                                "type": "string"
                              },
                              "email": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "canPay": {
                                "type": "boolean"
                              },
                              "billingMode": {
                                "enum": [
                                  "prepaid",
                                  "postpaid"
                                ]
                              },
                              "avatarUrl": {
                                "type": "string"
                              },
                              "periodEnd": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "plan": {
                                "enum": [
                                  "team",
                                  "enterprise",
                                  "plus",
                                  "academia"
                                ]
                              },
                              "roleInOrg": {
                                "anyOf": [
                                  {
                                    "enum": [
                                      "admin",
                                      "write",
                                      "contributor",
                                      "read",
                                      "no_access"
                                    ]
                                  },
                                  {
                                    "description": "Custom role name",
                                    "type": "string"
                                  }
                                ]
                              },
                              "pendingSSO": {
                                "deprecated": true,
                                "type": "boolean"
                              },
                              "missingMFA": {
                                "deprecated": true,
                                "type": "boolean"
                              },
                              "securityRestrictions": {
                                "description": "Current security restrictions for accessing data in this organization with current authentication method",
                                "type": "array",
                                "items": {
                                  "enum": [
                                    "mfa",
                                    "token-policy",
                                    "token-revoked",
                                    "sso",
                                    "ip"
                                  ]
                                }
                              },
                              "resourceGroups": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "minLength": 24,
                                      "maxLength": 24,
                                      "pattern": "^[0-9a-f]{24}$"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "role": {
                                      "anyOf": [
                                        {
                                          "enum": [
                                            "admin",
                                            "write",
                                            "contributor",
                                            "read",
                                            "no_access"
                                          ]
                                        },
                                        {
                                          "description": "Custom role name",
                                          "type": "string"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "role"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "name",
                              "fullname",
                              "avatarUrl"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "auth",
                        "type",
                        "id",
                        "name",
                        "fullname",
                        "avatarUrl",
                        "isPro",
                        "orgs"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            },
            "description": "Auth information"
          }
        }
      }
    },
    "/api/users/{username}/overview": {
      "get": {
        "summary": "User overview",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "minLength": 24,
                      "maxLength": 24,
                      "pattern": "^[0-9a-f]{24}$"
                    },
                    "orgs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "avatarUrl": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "fullname",
                          "avatarUrl"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "avatarUrl": {
                      "type": "string"
                    },
                    "fullname": {
                      "type": "string"
                    },
                    "isPro": {
                      "type": "boolean"
                    },
                    "user": {
                      "type": "string"
                    },
                    "numModels": {
                      "type": "number"
                    },
                    "numDatasets": {
                      "type": "number"
                    },
                    "numSpaces": {
                      "type": "number"
                    },
                    "numDiscussions": {
                      "type": "number"
                    },
                    "numPapers": {
                      "type": "number"
                    },
                    "numUpvotes": {
                      "type": "number"
                    },
                    "numLikes": {
                      "type": "number"
                    },
                    "numFollowers": {
                      "type": "number"
                    },
                    "numFollowing": {
                      "type": "number"
                    },
                    "details": {
                      "type": "string"
                    },
                    "isFollowing": {
                      "type": "boolean"
                    },
                    "reasonToFollow": {
                      "type": "string"
                    },
                    "type": {
                      "const": "user"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                    }
                  },
                  "required": [
                    "_id",
                    "avatarUrl",
                    "fullname",
                    "isPro",
                    "user",
                    "type",
                    "createdAt"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "User overview data including their organizations, stats, and creation date"
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/users/{username}/socials": {
      "get": {
        "description": "Get a user's social media handles",
        "summary": "Get social handles",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "user": {
                      "type": "string"
                    },
                    "socialHandles": {
                      "type": "object",
                      "properties": {
                        "twitter": {
                          "type": "string"
                        },
                        "github": {
                          "type": "string"
                        },
                        "linkedin": {
                          "type": "string"
                        },
                        "bluesky": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "_id",
                    "user",
                    "socialHandles"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "The user's social media handles. Only includes handles that the user has provided."
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/users/{username}/avatar": {
      "get": {
        "description": "This endpoint returns a JSON with the avatar URL for the user.\n\nIf called with the `Sec-Fetch-Dest: image` header, it instead redirects to the avatar URL",
        "summary": "Retrieve user avatar",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "avatarUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "avatarUrl"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Avatar URL"
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "schema": {
              "description": "Redirect to the avatar url instead of returning it"
            },
            "required": false
          }
        ]
      }
    },
    "/api/organizations/{name}/socials": {
      "get": {
        "description": "Get an organization's social media handles",
        "summary": "Get social handles",
        "tags": [
          "orgs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "org": {
                      "type": "string"
                    },
                    "socialHandles": {
                      "type": "object",
                      "properties": {
                        "twitter": {
                          "type": "string"
                        },
                        "github": {
                          "type": "string"
                        },
                        "linkedin": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "_id",
                    "org",
                    "socialHandles"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "The organization's social media handles. Only includes handles that the organization has provided."
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/avatars/{namespace}": {
      "get": {
        "description": "Display the avatar for any user or organization. This endpoint redirects to the avatar URL for either a user or an organization",
        "summary": "Get avatar",
        "tags": [
          "users",
          "orgs"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/models/{namespace}/{repo}/treesize/{rev}/{path}": {
      "get": {
        "description": "Get the total size of a repository at a given revision, optionally under a specific subpath. Returns the total size in bytes of all files under the specified path (recursively). If a file is stored via Xet/LFS, the LFS file size is used.",
        "summary": "Get folder size",
        "tags": [
          "models"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "path": {
                      "description": "The normalized path of the subtree, starting with a slash",
                      "type": "string"
                    },
                    "size": {
                      "description": "Total size in bytes of all files under the subtree",
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "path",
                    "size"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Total size of a repository at a given revision, under the given path"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rev",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wildcard path parameter"
            }
          }
        ]
      }
    },
    "/api/spaces/{namespace}/{repo}/treesize/{rev}/{path}": {
      "get": {
        "description": "Get the total size of a repository at a given revision, optionally under a specific subpath. Returns the total size in bytes of all files under the specified path (recursively). If a file is stored via Xet/LFS, the LFS file size is used.",
        "summary": "Get folder size",
        "tags": [
          "spaces"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "path": {
                      "description": "The normalized path of the subtree, starting with a slash",
                      "type": "string"
                    },
                    "size": {
                      "description": "Total size in bytes of all files under the subtree",
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "path",
                    "size"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Total size of a repository at a given revision, under the given path"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rev",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wildcard path parameter"
            }
          }
        ]
      }
    },
    "/api/datasets/{namespace}/{repo}/treesize/{rev}/{path}": {
      "get": {
        "description": "Get the total size of a repository at a given revision, optionally under a specific subpath. Returns the total size in bytes of all files under the specified path (recursively). If a file is stored via Xet/LFS, the LFS file size is used.",
        "summary": "Get folder size",
        "tags": [
          "datasets"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "path": {
                      "description": "The normalized path of the subtree, starting with a slash",
                      "type": "string"
                    },
                    "size": {
                      "description": "Total size in bytes of all files under the subtree",
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "path",
                    "size"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Total size of a repository at a given revision, under the given path"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rev",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wildcard path parameter"
            }
          }
        ]
      }
    },
    "/api/models/{namespace}/{repo}/lfs-files": {
      "get": {
        "description": "List Xet/LFS files for a repo",
        "summary": "List Large files",
        "tags": [
          "models"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pusher": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "minLength": 24,
                            "maxLength": 24,
                            "pattern": "^[0-9a-f]{24}$"
                          },
                          "avatarUrl": {
                            "type": "string"
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "isHf": {
                            "type": "boolean"
                          },
                          "isHfAdmin": {
                            "type": "boolean"
                          },
                          "isMod": {
                            "type": "boolean"
                          },
                          "followerCount": {
                            "type": "number"
                          },
                          "type": {
                            "const": "user"
                          },
                          "isPro": {
                            "type": "boolean"
                          },
                          "isUserFollowing": {
                            "type": "boolean"
                          },
                          "primaryOrg": {
                            "type": "object",
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "fullname": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "const": "org"
                              },
                              "isHf": {
                                "type": "boolean"
                              },
                              "isFollowing": {
                                "type": "boolean"
                              },
                              "plan": {
                                "enum": [
                                  "team",
                                  "enterprise",
                                  "plus",
                                  "academia"
                                ]
                              },
                              "details": {
                                "type": "string"
                              },
                              "hasPrivateMembersList": {
                                "type": "boolean"
                              },
                              "userRole": {
                                "anyOf": [
                                  {
                                    "enum": [
                                      "admin",
                                      "write",
                                      "contributor",
                                      "read",
                                      "no_access"
                                    ]
                                  },
                                  {
                                    "description": "Custom role name",
                                    "type": "string"
                                  }
                                ]
                              },
                              "numUsers": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "avatarUrl",
                              "fullname",
                              "name",
                              "type",
                              "isHf"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "_id",
                          "avatarUrl",
                          "fullname",
                          "name",
                          "isHf",
                          "isHfAdmin",
                          "isMod",
                          "type",
                          "isPro"
                        ],
                        "additionalProperties": false
                      },
                      "ref": {
                        "type": "string"
                      },
                      "fileOid": {
                        "type": "string"
                      },
                      "oid": {
                        "type": "string"
                      },
                      "size": {
                        "type": "number"
                      },
                      "pushedAt": {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                      },
                      "filename": {
                        "description": "Potential filename of the LFS file",
                        "type": "string"
                      },
                      "xetHash": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "fileOid",
                      "oid",
                      "size",
                      "pushedAt"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            },
            "description": "List of Xet/LFS files for the repo",
            "headers": {
              "Link": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "string"
                },
                "description": "Link header for pagination, can contain a `rel=\"next\"` link"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 1000,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false
          },
          {
            "name": "xet",
            "in": "query",
            "schema": {},
            "required": false
          }
        ]
      }
    },
    "/api/datasets/{namespace}/{repo}/lfs-files": {
      "get": {
        "description": "List Xet/LFS files for a repo",
        "summary": "List Large files",
        "tags": [
          "datasets"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pusher": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "minLength": 24,
                            "maxLength": 24,
                            "pattern": "^[0-9a-f]{24}$"
                          },
                          "avatarUrl": {
                            "type": "string"
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "isHf": {
                            "type": "boolean"
                          },
                          "isHfAdmin": {
                            "type": "boolean"
                          },
                          "isMod": {
                            "type": "boolean"
                          },
                          "followerCount": {
                            "type": "number"
                          },
                          "type": {
                            "const": "user"
                          },
                          "isPro": {
                            "type": "boolean"
                          },
                          "isUserFollowing": {
                            "type": "boolean"
                          },
                          "primaryOrg": {
                            "type": "object",
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "fullname": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "const": "org"
                              },
                              "isHf": {
                                "type": "boolean"
                              },
                              "isFollowing": {
                                "type": "boolean"
                              },
                              "plan": {
                                "enum": [
                                  "team",
                                  "enterprise",
                                  "plus",
                                  "academia"
                                ]
                              },
                              "details": {
                                "type": "string"
                              },
                              "hasPrivateMembersList": {
                                "type": "boolean"
                              },
                              "userRole": {
                                "anyOf": [
                                  {
                                    "enum": [
                                      "admin",
                                      "write",
                                      "contributor",
                                      "read",
                                      "no_access"
                                    ]
                                  },
                                  {
                                    "description": "Custom role name",
                                    "type": "string"
                                  }
                                ]
                              },
                              "numUsers": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "avatarUrl",
                              "fullname",
                              "name",
                              "type",
                              "isHf"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "_id",
                          "avatarUrl",
                          "fullname",
                          "name",
                          "isHf",
                          "isHfAdmin",
                          "isMod",
                          "type",
                          "isPro"
                        ],
                        "additionalProperties": false
                      },
                      "ref": {
                        "type": "string"
                      },
                      "fileOid": {
                        "type": "string"
                      },
                      "oid": {
                        "type": "string"
                      },
                      "size": {
                        "type": "number"
                      },
                      "pushedAt": {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                      },
                      "filename": {
                        "description": "Potential filename of the LFS file",
                        "type": "string"
                      },
                      "xetHash": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "fileOid",
                      "oid",
                      "size",
                      "pushedAt"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            },
            "description": "List of Xet/LFS files for the repo",
            "headers": {
              "Link": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "string"
                },
                "description": "Link header for pagination, can contain a `rel=\"next\"` link"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 1000,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false
          },
          {
            "name": "xet",
            "in": "query",
            "schema": {},
            "required": false
          }
        ]
      }
    },
    "/api/models/{namespace}/{repo}/lfs-files/batch": {
      "post": {
        "description": "Delete Xet/LFS files in batch",
        "summary": "Delete Large files",
        "tags": [
          "models"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "deletions": {
                    "type": "object",
                    "properties": {
                      "sha": {
                        "minItems": 1,
                        "maxItems": 1000,
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "rewriteHistory": {
                        "default": true,
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "sha"
                    ]
                  }
                },
                "required": [
                  "deletions"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/datasets/{namespace}/{repo}/lfs-files/batch": {
      "post": {
        "description": "Delete Xet/LFS files in batch",
        "summary": "Delete Large files",
        "tags": [
          "datasets"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "deletions": {
                    "type": "object",
                    "properties": {
                      "sha": {
                        "minItems": 1,
                        "maxItems": 1000,
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "rewriteHistory": {
                        "default": true,
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "sha"
                    ]
                  }
                },
                "required": [
                  "deletions"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/models/{namespace}/{repo}/lfs-files/{sha}": {
      "delete": {
        "description": "Delete a Xet/LFS file",
        "summary": "Delete Large file",
        "tags": [
          "models"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rewriteHistory",
            "in": "query",
            "schema": {
              "default": true
            },
            "required": false
          }
        ]
      }
    },
    "/api/datasets/{namespace}/{repo}/lfs-files/{sha}": {
      "delete": {
        "description": "Delete a Xet/LFS file",
        "summary": "Delete Large file",
        "tags": [
          "datasets"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rewriteHistory",
            "in": "query",
            "schema": {
              "default": true
            },
            "required": false
          }
        ]
      }
    },
    "/api/models/{namespace}/{repo}/commits/{rev}": {
      "get": {
        "summary": "List commits",
        "tags": [
          "models"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "authors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "user": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "user"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                      },
                      "formatted": {
                        "description": "Available if expand includes formatted",
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "title"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "id",
                      "title",
                      "message",
                      "authors",
                      "date"
                    ],
                    "additionalProperties": false
                  }
                }
[...]
